.navigation {
    display: flex;
    gap: 20px;
    justify-content: end;
    padding: 20px;
    background: #1d1d1d;
    vertical-align: top ;
    font-size: larger;
}

.imglogo {
    width: 50px;
}

.imgdiv {
    position: absolute;
    left: 1%;  
    top: 1%;  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    overflow: wrap;
    max-width: 20%;
    max-height: 30%;
    align-content: center;
    align-self: center;
    aspect-ratio: 16/9;
    margin-top: 1%;
    color: white;
  }

  .card{
    padding: 1rem;
    background-color: #1d1d1d;
    border: 3px solid #3a3b3a;
    justify-content: center;
    overflow: wrap;
    text-align: center;
    align-self: center;
  }

  .btn{
    background-color: antiquewhite;
    padding: 5px;
    font-size: medium;
    width: 100px;
    border-radius: 15px;
  }

  .wrestlerimg{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/WWE_official_logo.svg/2175px-WWE_official_logo.svg.png) ;
    background-size: cover;
    max-width: 267px;
    min-width: 267px;
    width: 100%;
    max-height: 600px;
    aspect-ratio: 16/16;
  
  }

  .wrestlerH1{
    font-size: x-large;
    font-weight: bold;
    background-color: #1d1d1d;
    color: white;
  }

  .ratingH2{
    font-size: large;
    font-weight: unset;
    background-color: #1d1d1d;
    color: white;
  }

  .cardContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    padding-top: 2rem;
    padding-left: 8%;
  }
  .navlink{
    /* display: flex; */
    color: white;
    align-content: center;
    text-decoration: none;
  }

  .brandimg{
    max-width: 500px;
    max-height: 600px;
  }

  .brandCard :hover {zoom: 105%;}
  /* .card :hover {zoom:105%} */

  .brandCard {
    align-content: center;
    gap: 20px;
    margin-top: 150px;
    color: white;
  }

  .brandCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 88px;
    border-top: 20px;
    position: relative;
  }

  .singleBrandCard {
    align-content: center;
    gap: 20px;
    margin-top: 150px;
    color: white;
    display: block;
    align-self: center;
    position: absolute;
  }

  .Login {
    color: white;
    margin: 5px;
  }
  .form{
    position: absolute;
    align-self: center;
    font-size: xx-large;
    display: inline-block;
    top: 13%;
    right: 43%;
    border: solid white, 3px;
    padding: 50px;
  }
  .createform{
    position: relative;
    align-self: center;
    font-size: xx-large;
    display: inline-block;
    top: 13%;
    left:30%;
    margin: 30px;
    border: 3px;
    padding: 50px;
  }

  .btn2{
    color: black;
    right: 33%;
    background-color: white;
  }

  .loginh1 {
    color: white;
  }
 
  .championshipImg {
    width: 150px;
    position: absolute
  }

.championshipContainer {
  position: relative;
  bottom: 110%;
  right: 62%;
}